

@media (max-width: 1000px) {
  html{
    overflow-x: hidden;
    margin-left: 5px;
  } 
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  @media (max-width:1000px) {
    .glow {
        font-size: 40px;
        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
      
      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        }
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        }
      }
  }

  /* underconstruction */

  .underDev h1 {
    --s: 0.1em;   /* the thickness of the line */
    --c: #2c4bff; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    animation: gradient 5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
  }
  
  @keyframes gradient {
    0% {
      --_p: 0%;
    }
    50% {
      --_p: 100%;
    }
    100% {
      --_p: 0%;
    }
  }
  
  .underDev {
    width: 100vw;
    margin: 0;
    margin-left: 30%;
    display: grid;
    place-content: center;
  }

  .underDev h1 {
    font-family: system-ui, sans-serif;
    font-size: 3rem;
    cursor: pointer;
  }
  @media (max-width:1000px) {
    .underDev {
      width: 100vw;
      margin: 0;
      margin-left: 5%;
      display: grid;
      place-content: center;
    }

    .underDev h1 {
      font-family: system-ui, sans-serif;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  
  