@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

.home {
  font-family: "Exo 2", sans-serif;
  background: rgb(63, 161, 251);

  background: linear-gradient(
    142deg,
    rgba(63, 161, 251, 1) 0%,
    rgba(252, 70, 168, 1) 100%
  );
}

@media (max-width: 1000px) {
  .home{
    overflow-x: hidden;
  }
}
@media (min-width: 1000px) {
  
  .home .sweet-title {
    order: 2;
    color: #fde9ff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: clamp(3rem, 10vw, 6rem);
    line-height: 0.75em;
    text-align: center;
    text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
      3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
      6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
      6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
      9px 7px 1px #4af7ff;
  
    .home span {
      display: block;
      position: relative;
  
      &:before {
        content: attr(data-text);
        position: absolute;
        text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
          -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
        z-index: 1;
      }
  
      &:nth-child(1) {
        padding-right: 0.25rem;
      }
  
      &:nth-child(2) {
        padding-left: 0.25rem;
      }
    }
  }
  
    
  }

.home .header {
  width: 100vw;
  max-width: 1200px;
 margin-top: 880px;
 margin-left: 900px;
 margin-bottom: 5%;
  // padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
}

.home .tagline{
  
  margin-left: 450px;
  padding-left: 180px;
  padding-right: 180px;
}
.home .bottom{
  margin-left: 700px;
}
.home .paragraph{
  margin-left: 400px;
  padding-right: 200px;
}


@media screen and (max-width: 600px) {
  .home .header {
    width: 1200px;
    max-width: 100vw;
   margin-top: 1870px;  
   margin-left: 950px;
    // padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 25rem);
  }

  .home .tagline{
  
    margin-left: 228px;
    padding-left: 280px;
    padding-right: 500px;
    
  }

  .home .bottom{
    padding-left: 100px;
    padding-right: 700px;
    margin-left: 500px;
  }
  
  .home .paragraph{
    font-size: 1rem;
    margin-left: 400px;
    padding-right: 350px;
    margin-bottom: 15rem;
  }
  
  
}
.home .title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}

.home .top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.home .bottom-title {
  order: 3;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 2rem;
  margin-left: 30px;
  padding-left: 2rem;
}





.home .disclaimer {

  margin-left: 10%;
  font-size: 1rem;
  width: 52%;
  height: 2rem;
  text-align: center;
  color: #fff;

  .home a {
    color: #fff;
  }
   .twitter{
margin-left: 57%;
  }

}



// 700
@media screen and (max-width: 900px) and (min-width: 601px){
  .home .header {
    width: 1200px;
    max-width: 100vw;
   margin-top: 2570px;  
   margin-left: 910px;
    // padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 7rem);
  }

  .home .tagline{
  
    margin-left: 228px;
    padding-left: 280px;
    padding-right: 500px;
    
  }

  .home .bottom{
    padding-left: 100px;
    padding-right: 700px;
    margin-left: 500px;
  }
  
  .home .paragraph{
    font-size: 1rem;
    margin-left: 400px;
    padding-right: 350px;
    margin-bottom: 15rem;
  }
  
  
}
.home .title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
}

.home .top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 5rem;
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.home .bottom-title {
  order: 3;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 2rem;
  margin-left: 30px;
  padding-left: 2rem;
}





.home .disclaimer {

  margin-left: 10%;
  font-size: 1rem;
  width: 52%;
  height: 2rem;
  text-align: center;
  color: #fff;

  .home a {
    color: #fff;
  }
   .twitter{
margin-left: 57%;
  }

}
